language: node_js
node_js: node
addons:
  firefox: "51.0"
before_install:
  - 'export DISPLAY=:99.0'
  - sh -e /etc/init.d/xvfb start
before_deploy:
  - 'git config --global user.email "me@example.com"'
  - 'git config --global user.name "PMO deploy bot"'
  - node build
  - git add dist/ --force
  - 'git commit -m "Updating build."'
  - node_modules/.bin/deploy
deploy:
  skip_cleanup: true
  provider: heroku
  app: donejs-chat
  api_key:
    - secure: lNFvG+HBMfHwhWJacCUsctl/AG6bLQ4HBV8bUIJbFLjmYZ7CdbWk5MIDZkcYAzHwEg0k1NEp/8KZL61ZYh49pl2/GoR1pplqWvvbZOc9dpFjnPWYCbbrXLGP1KPjPIND6yt6zZhCDQEKFpg/bVDwI6qhcbjtogMj48auq9ecQDT4ofD+g7b4v32AN5kmHrNmg2NI8L/QKzewp3BUUxkjr2+D+DCwgSzKEUhQsYJ7vYvhnR8Onw77gdpIdGRM5x8FW18xMy1+ipeCwwW4WYyA1FBcowgrYU5jyIQuC9ykqHWlbT3ylevBBPCOvJOUBg5zUqWqDBoTTmaEmhH7XWKMecMB0zJcCedG80L5JCv4YCZcncpVErOZ9iZEy5uwWopo/ulfg3aIJjpgeSenIlnld8YG8aE/asVOvI+LR63ZmdE1XViG9mC6dPdYpIMAixqicMbaBRj+68KOxakLo6glYwg7UY3pRIagQEXtwV6fNzH8i6RGCniEhPg3Jo1cPiAdOAoZGlb1qHTcCUkPVl7JplFYuE4m1fcEjKsywY+TrohtQE+dPe+UGSyGL51Kxqi6ECaEyr7TgzuMkE22RfjHQoGJr2XqA4dOxkQdZjHKocz6iTOjdcWdaukSdMrGQ/lFezmhgOxXi4ZDjRQ7kD0H8o6tXSUN8wB2jNbuzCqn2v8=
env:
  global:
    - secure: c4a2ifUkhdfNzRXVMJUZT/M9K5xJaWuBwbO9XFNJiTzGf7gj4BbI12zWs4P+EJ3tnGbtXv1eVmjE+WK9kJ49UAJYWqLelSLfP9o/0claTP4HAh6snSa3yts5l9jCvfYN4nJgJJOWo8pRf98WQezT+8MTULGfIeIBTDcsp3cWoUeccdkjJTY9ENnqAht7+JDRhYHfT7ClahGQmCrVTL8UiyczZxWXQm3aXDBm1m3/9ajOA/z+rhTPW9veH1l/Kg+0XKQGhTuObASuX5Lz2TfMgv3agGLaZUWBV0c3zlQObTHp1WPvkFCXLMC6eBGcoj55szqUwjU7FXgDoJF87gMwihEUG9OGX/Y3x18fpsNXV1nn7GkAW2yXpJalgy7N72n/+ebBOu3Rt0F0F4YoBW28obK6HGYndmYeNUc+0eW185coqkLqS1eL9hESaNRaAOE49/WA/HFqMNfEHFrbMoE2vQQYZjVfOlAnApXSwfZYUU8pLgWI5e3p2ToQY78MczDZeEA34BtNIYQFz8z1BGkTxnjoRedLHa0xeATUEVRWdPcGOjmK2c9g/ZzsfefoDq7xOR7RxlZpdkfyPJCrp6Stf+DEH+vFaIT9TUbeZdcerNkt5IhAfNjub9EKNt4H/mifHhflJ//Y+XYfNZmoBVIUhItOAEpVMo17Q+sLp/P5eTE=
