body {
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  padding: 40px;
}

bit-tabs {
  margin: 20px 0;

  bit-panel {
    display: block;
    padding: 10px;

    &:empty {
      display: none;
    }
  }
}